body {
    font-family: sans-serif;
}
h1{
    text-align:center;
    
}

a{
    text-decoration: none;
    border: 5px solid cyan;
    padding: 15px;
    border-radius: 10px;
}
h2{
    text-align: Center;
    border: 6px solid #f2e70c;
    padding: 10px;
    border-radius: 15px;
    color: Red;
    display:inline-block;
    margin-left: 300px;

}
footer a{
    text-align: Center;

}

