body {
    font-family: sans-serif;
}
h1{
    text-align:center;
    
}
header img{
    width: 300px;
    height:200px;
}
main img{
    width: 400px;
    height: 300px;
}
main h1{
    height:200px;
    width:200px;
}
a{
    text-decoration: none;
    border: 5px solid cyan;
    padding: 15px;
    border-radius: 10px;
}


